@import './variables.less';

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
