:root {
    --background-color: #f5f5f5;
    --text-color: #d0d0d0;

    --button-background-color: #f5f5f5;
    --button-shadow: 8px 8px 16px #d0d0d0, -8px -8px 16px #ffffff,
        inset 0 0 0 #d0d0d0, inset 0 0 0 #ffffff;
    --button-hover-shadow: 0 0 0 #d0d0d0, 0 0 0 #ffffff,
        inset 4px 4px 8px #d0d0d0, inset -4px -4px 8px #ffffff;

    --button-icon-color: #d0d0d0;
}